<div class="flex flex-col justify-center items-center m-4 p-5">
    <h4 class="mb-4"><strong>Our Mission</strong></h4>
    <p><em>
        The GVFD's fire personnel protect life, property and the environment through their direct involvement in fire prevention, firefighting, emergency medical care, technical rescue, hazardous materials mitigation, disaster response, public education and community service. The GVFD provides 24-hour Emergency Services across our partnered servers.
        Through our highly skilled and trained personnel, the Gran Vista Fire Department is here to serve you.</em></p>
  </div>