<div class="relative">
  <!-- Hamburger Icon -->
  <div class="block lg:hidden m-2">
    <button (click)="toggleMenu()" class="text-2xl">
      &#9776;
    </button>
  </div>

  <!-- Menu -->
   <div  [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}" class="menu rounded-box bg-black  h-[100%] gap-4 ml-0 lg:block lg:w-auto z-50">

    <ul>
      <li class="text-center">
        <a routerLink="/agency/dashboard" class="bg-black text-white" routerLinkActive="bg-info ">Dashboard</a>
      </li>
      <li>
        <a routerLink="/agency/mdt" class="bg-black text-white" routerLinkActive="bg-info">Dispatcher</a>
      </li>
      <li>
        <a routerLink="/agency/shifts" class="bg-black text-white"  routerLinkActive="bg-info">Shifts</a>
      </li>
      <li>
        <a routerLink="/agency/call-history" class="bg-black text-white"  routerLinkActive="bg-info">History</a>
      </li>
      <li>
        <a routerLink="/agency/roster" class="bg-black text-white"  routerLinkActive="bg-info">Roster</a>
      </li>
      <li>
        <a routerLink="/agency/users" class="bg-black text-white"  routerLinkActive="bg-info">Users</a>
      </li>
      <li>
        <a routerLink="/agency/incident-reports" class="bg-black text-white"  routerLinkActive="bg-info">Reports</a>
      </li>
    </ul>
   </div>
</div>
