<div class="p-6 rounded-lg shadow-lg max-w-lg mx-auto">
    <form [formGroup]="shiftForm" (ngSubmit)="onSubmit()">
<!-- Commander User ID -->
<div class="mb-4">
    <label for="commanderUserId" class="block text-sm font-bold mb-2">Commander User ID</label>
    <select id="commanderUserId" formControlName="commanderUserId" class="border border-gray-500 dark:bg-blue-800 rounded px-2 py-1 w-full">
      <option value="" disabled selected>Select Commander</option>
      <!-- Dynamically populate the options here -->
      @for (member of rosterMembers; track member.discordName) {
        <option [value]="member.id">
            {{member.discordName}}
          </option>
       }
      
    </select>
  </div>
  
  <!-- Host User ID -->
  <div class="mb-4">
    <label for="hostUserId" class="block text-sm font-bold mb-2">Host User ID</label>
    <select id="hostUserId" formControlName="hostUserId" class="border border-gray-500 dark:bg-blue-800 rounded px-2 py-1 w-full">
      <option value="" disabled selected>Select Host</option>
      <!-- Dynamically populate the options here -->
       @for (member of rosterMembers; track member.discordName) {
        <option [value]="member.id">
            {{member.discordName}}
          </option>
       }
      
    </select>
  </div>
  
      <!-- Start Date -->
      <div class="mb-4">
        <label for="start" class="block text-sm font-bold mb-2">Start</label>
        <input type="datetime-local" id="start" formControlName="start" class="border border-gray-500 dark:bg-blue-800 rounded px-2 py-1 w-full" />
      </div>
  

            <!-- <div class="mb-4">
                <div [formGroupName]="assignment" class="bg-gray-100 p-4 rounded-lg shadow-md mb-3">
                  <div class="mb-2">
                    <label for="id" class="block text-sm font-bold mb-2">ID</label>
                    <input type="number" formControlName="id" class="border border-gray-500 rounded px-2 py-1 w-full" />
                  </div>
        
                  <div class="mb-2">
                    <label for="isNew" class="block text-sm font-bold mb-2">Is New</label>
                    <input type="checkbox" formControlName="isNew" class="border border-gray-500 rounded" />
                  </div>
        
                  <div class="mb-2">
                    <label for="rosterMemberId" class="block text-sm font-bold mb-2">Roster Member ID</label>
                    <input type="number" formControlName="rosterMemberId" class="border border-gray-500 rounded px-2 py-1 w-full" />
                  </div>
        
                  <div class="mb-2">
                    <label for="isCommand" class="block text-sm font-bold mb-2">Is Command</label>
                    <input type="checkbox" formControlName="isCommand" class="border border-gray-500 rounded" />
                  </div>
        
                  <div class="mb-2">
                    <label for="isOfficer" class="block text-sm font-bold mb-2">Is Officer</label>
                    <input type="checkbox" formControlName="isOfficer" class="border border-gray-500 rounded" />
                  </div>
        
                  <div class="mb-2">
                    <label for="isMedical" class="block text-sm font-bold mb-2">Is Medical</label>
                    <input type="checkbox" formControlName="isMedical" class="border border-gray-500 rounded" />
                  </div>
        
                  <div class="mb-2">
                    <label for="isProbationary" class="block text-sm font-bold mb-2">Is Probationary</label>
                    <input type="checkbox" formControlName="isProbationary" class="border border-gray-500 rounded" />
                  </div>
        
                  <div class="mb-2">
                    <label for="unitCallSign" class="block text-sm font-bold mb-2">Unit Call Sign</label>
                    <input type="text" formControlName="unitCallSign" maxlength="8" class="border border-gray-500 rounded px-2 py-1 w-full" />
                  </div>
        
                  <div class="mb-2">
                    <label for="vehicleCallSign" class="block text-sm font-bold mb-2">Vehicle Call Sign</label>
                    <input type="text" formControlName="vehicleCallSign" maxlength="20" class="border border-gray-500 rounded px-2 py-1 w-full" />
                  </div>
        
                  <div class="mt-2">
                    <button type="button" (click)="removeAssignment(assignment)" class="bg-gray-300 text-black px-4 py-2 rounded shadow hover:bg-gray-400">
                      Remove Assignment
                    </button>
                  </div>
                </div>
              </div> -->
        
      <!-- Submit Button -->
      <div class="mt-4">
        <button type="submit" [disabled]="shiftForm.invalid" class="bg-blue-500 text-white px-6 py-2 rounded shadow hover:bg-blue-400">
          Submit
        </button>
      </div>
    </form>
  </div>
  
  <hr />

  
  <div class="flex flex-col items-center">

  <!-- Host User ID -->
  <div class="mb-4">
    <label for="hostUserId" class="block text-sm font-bold mb-2">Add To Shift</label>
    <select id="hostUserId" class="border border-gray-500 dark:bg-blue-800 rounded px-2 py-1 w-full">
      <option value="" disabled selected>Select Host</option>
      <!-- Dynamically populate the options here -->
       @for (member of rosterMembers; track member.discordName) {
        <option [value]="member.id">
            {{member.discordName}}
          </option>
       }
      
    </select>
  </div>
  
        <!-- Add Assignment Button -->
        <div class="mt-4">
          <button type="button" (click)="addAssignment()" class="bg-gray-300 text-black px-4 py-2 rounded shadow hover:bg-gray-400">
            Add Assignment
          </button>
        </div>
  
  </div>