
<div class="text-center py-10 bg-gray-500">
    <h1>Tag outs</h1>
    <div class="flex flex-wrap justify-center mt-2 gap-2">
      <button class="btn btn-soft">Zayyy</button>
    <button class="btn btn-soft btn-primary">Candyroll</button>
    <button class="btn btn-soft btn-secondary">Whiskey</button>
    <button class="btn btn-soft btn-accent">YoDog</button>
    <button class="btn btn-soft btn-info">Cool</button>
    <button class="btn btn-soft btn-success">Hockey</button>
    <button class="btn btn-soft btn-warning">Warning</button>
    <button class="btn btn-soft btn-error">Error</button>
  </div>
  </div>