
<div class="bg-base-100 border border-base-300 text-center py-10">
    <h1>Tag outs</h1>
    <div class="flex flex-wrap justify-center mt-2">
    <button class="btn cursor-default">Candyroll</button>
    <button class="btn cursor-default">YoDog1171</button>
    <button class="btn cursor-default">Lexi</button>
    <button class="btn cursor-default">Hockey</button>
    <button class="btn cursor-default">Zayy</button>
    <button class="btn cursor-default">Kanye</button>
    <button class="btn cursor-default">Candyroll</button></div>
  </div>